* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header>h1 {
    font-size: 2.6rem;
    font-weight: 800;
    padding: 15px 0;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: red;
}

.main-task {
    display: flex;
    background-color: blue;
    justify-content: center;
}

.rest-task {
    display: flex;
    justify-content: center;
}

.form-field {
    width: 80%;
}

.form-field>textarea {
    width: 100%;
    outline: none;
    border: 2px solid green;
}